<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="https://motchilltv.io/logo_motchill.png" alt="">
              </a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Phim lẻ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Phim bộ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Phim chiếu rạp</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Quốc gia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="#">Thể loại</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
        </nav>
    </header>
    <section class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="movie-poster rounded overflow-hidden" style="height: 410px;">
                        <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                    </div>
                </div>
                <div class="col-9">
                    <h4 class="mb-2">moi lien ket bi an</h4>
                    <div class="bg-body-tertiary p-4">
                        <p>The loai: Phiêu Lưu - Hành Động, Hình Sự - Chiến Tranh</p>
                        <p>Nam phat hanh: 2024</p>
                        <p>Quoc gia: Hàn Quốc</p>
                        <p>Dao dien: Kim Moon Kyo</p>
                        <p>Dien vien: Ji Sung, Jeon Mi Do, Kwon Yool, Kim Kyung Nam, Jung Soon Won, Jung Yoo Min</p>
                        <p>Mo ta: Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae molestias voluptatibus ea in officia. Reprehenderit quae, temporibus laborum incidunt fuga illum eveniet veritatis, dicta, nam ratione suscipit assumenda earum nostrum autem. Nobis hic odit reprehenderit eaque incidunt at voluptatem autem accusamus voluptates, quo illo natus ab perspiciatis sit ad quidem?</p>
                        <button class="btn btn-danger px-5">Xem phim</button>
                        <button class="btn btn-dark px-5">Thêm vào yêu thích</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-2">
        <div class="container">
            <div class="row">
                <h3 class="text-uppercase mb-3">Tập phim</h3>
                <div>
                    <button class="btn btn-dark">Tập 1</button>
                    <button class="btn btn-dark">Tập 2</button>
                    <button class="btn btn-dark">Tập 3</button>
                    <button class="btn btn-dark">Tập 4</button>
                    <button class="btn btn-dark">Tập 5</button>
                    <button class="btn btn-dark">Tập 6</button>
                    <button class="btn btn-dark">Tập 7</button>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4 bg-body-tertiary p-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-canter">
                <h3 class="text-uppercase mb-3">Phim liên quan</h3>
                <a href="">xem thêm</a>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                        </div>
                        <p class="mt-2">moi lien ket bi an</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                        </div>
                        <p class="mt-2">moi lien ket bi an</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                        </div>
                        <p class="mt-2">moi lien ket bi an</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                        </div>
                        <p class="mt-2">moi lien ket bi an</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                        </div>
                        <p class="mt-2">moi lien ket bi an</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                        </div>
                        <p class="mt-2">moi lien ket bi an</p>
                    </div>
                </div>
        </div>
    </section>
    <section class="py-4">
        <div class="container">
            <h3 class="text-uppercase mb-3">Bình luận</h3>
            <div class="review-list">
                <div class="review-item d-flex mb-3">
                    <div class="review-avatar">
                        <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                    </div>
                    <div class="review-info ps-3">
                        <p class="mb-0">
                            <span class="fw-bold">Bui hien</span>
                            <span class="fst-italic">(26/5/2024)</span>
                        </p>
                        <p class="mb-0">4 <span class="text-warning">⭐</span></p>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas ducimus numquam totam id! Nemo earum possimus unde molestias qui.</p>
                    </div>
                </div>
                <div class="review-item d-flex mb-3">
                    <div class="review-avatar">
                        <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                    </div>
                    <div class="review-info ps-3">
                        <p class="mb-0">
                            <span class="fw-bold">Bui hien</span>
                            <span class="fst-italic">(26/5/2024)</span>
                        </p>
                        <p class="mb-0">4 <span class="text-warning">⭐</span></p>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas ducimus numquam totam id! Nemo earum possimus unde molestias qui.</p>
                    </div>
                </div>
                <div class="review-item d-flex mb-3">
                    <div class="review-avatar">
                        <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                    </div>
                    <div class="review-info ps-3">
                        <p class="mb-0">
                            <span class="fw-bold">Bui hien</span>
                            <span class="fst-italic">(26/5/2024)</span>
                        </p>
                        <p class="mb-0">4 <span class="text-warning">⭐</span></p>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas ducimus numquam totam id! Nemo earum possimus unde molestias qui.</p>
                    </div>
                </div>
                <div class="review-item d-flex mb-3">
                    <div class="review-avatar">
                        <img src="https://image.motchilltv.day/avatar/xin-hay-yeu-duong-voi-ke-hai-huoc-x500.webp" alt="">
                    </div>
                    <div class="review-info ps-3">
                        <p class="mb-0">
                            <span class="fw-bold">Bui hien</span>
                            <span class="fst-italic">(26/5/2024)</span>
                        </p>
                        <p class="mb-0">4 <span class="text-warning">⭐</span></p>
                        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas ducimus numquam totam id! Nemo earum possimus unde molestias qui.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="https://motchilltv.io/logo_motchill.png" alt="">
                    <p class="text-white mb-0 mt-3">Xem phim online miễn phí chất lượng cao với phụ đề tiếng việt - thuyết minh - lồng tiếng. Mọt phim - Mot chill có nhiều thể loại phim phong phú, đặc sắc, nhiều bộ phim hay nhất - mới nhất.</p>
                </div>
                <div class="col">
                    <div class="text-white">
                        <h5>Danh mục phim</h5>
                        <p class="mb-2">Phim bộ</p>
                        <p class="mb-2">Phim lẻ</p>
                        <p class="mb-2">Phim chiếu rạp</p>
                        <p class="mb-2">Phim bộ</p>
                        <p class="mb-2">Phim lẻ</p>
                        <p class="mb-2">Phim chiếu rạp</p>
                    </div>
                </div>
                <div class="col">
                    <div class="text-white">
                        <h5>Danh mục phim</h5>
                        <p class="mb-2">Phim bộ</p>
                        <p class="mb-2">Phim lẻ</p>
                        <p class="mb-2">Phim chiếu rạp</p>
                        <p class="mb-2">Phim bộ</p>
                        <p class="mb-2">Phim lẻ</p>
                        <p class="mb-2">Phim chiếu rạp</p>
                    </div>
                </div>
                <div class="col">
                    <div class="text-white">
                        <h5>Danh mục phim</h5>
                        <p class="mb-2">Phim bộ</p>
                        <p class="mb-2">Phim lẻ</p>
                        <p class="mb-2">Phim chiếu rạp</p>
                        <p class="mb-2">Phim bộ</p>
                        <p class="mb-2">Phim lẻ</p>
                        <p class="mb-2">Phim chiếu rạp</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>